# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~
.vscode/c_cpp_properties.json
.vscode/*.*

# example VCS files
examples/*/.pio
examples/*/.pio/*.*
examples/*/.vscode
examples/*/.vscode/*.*
examples/*/.gitignore
examples/*/platform.ini