# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~
.vscode

# example VCS files
examples/*/.pio
examples/*/.pio/*.*
examples/*/.vscode
examples/*/.vscode/*.*
examples/*/.gitignore
examples/*/platform.ini

examples/*/config.h

# Documentation build folders
build
venv
docs/html
docs/latex
_build
