alabaster==0.7.13
attrs==23.1.0
Babel==2.13.1
breathe==4.35.0
cattrs==23.2.3
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
docutils==0.20.1
esbonio==0.16.3
exceptiongroup==1.2.0
idna==3.6
imagesize==1.4.1
Jinja2==3.1.2
lsprotocol==2023.0.0
MarkupSafe==2.1.3
packaging==23.2
platformdirs==4.0.0
pyenchant==3.2.2
pygls==1.2.1
Pygments==2.17.2
pyspellchecker==0.7.2
requests==2.31.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-rtd-dark-mode==1.3.0
sphinx-rtd-theme==2.0.0
sphinx-sitemap==2.5.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sphinxcontrib-spelling==8.0.0
typing_extensions==4.8.0
urllib3==2.1.0
