name: PlatformIO Testing

on:
  push:
    branches: [main, devel]
  pull_request:
    branches: [main, devel]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Intall PlatformIO
        run: pip install -U platformio
      - name: Run PlatformIO tests
        run: pio test -e native_test
        env:
          PLATFORMIO_TEST_FLAGS: "--gtest-shuffle --gtest_repeat=5 --gtest_recreate_environments_when_repeating"
